<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 设置数据库源 -->
    <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://115.29.34.145:3306/medical_box"></property>
        <property name="username" value="mbadmin"/>
        <property name="password" value="yphz123456"/>
        <!-- 数据库连接池保持的最小连接数 -->
        <property name="minIdle" value="5"/>
        <!-- 数据库连接池保持的最大连接数 -->
        <property name="maxIdle" value="30"/>
        <!--
            当数据库连接因为某种原因断掉之后，再重新从连接池中拿另外一个连接时实际上这个连接可能
            已经无效，所以为了确保所拿到的连接全都有效需要在获取连接，返回连接以及连接空闲时进行
            有效性验证 下面3个设置为ture时进行验证，默认为false
         -->
        <!-- 取得连接时是否进行有效性验证 -->
        <property name="testOnBorrow" value="true"/>
        <!-- 返回连接时是否进行有效性验证 -->
        <property name="testOnReturn" value="true"/>
        <!-- 连接空闲时是否进行有效性验证 -->
        <property name="testWhileIdle" value="true"/>
    </bean>
    <!-- 设置Hibernate sessionFactory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>

        <property name="packagesToScan" value="com.drugbox.Entity"/>
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.transaction.coordinator_class">jdbc</prop>
            </props>
        </property>

    </bean>
    <!-- 设置Spring事务 -->
    <bean id="txManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--启动spring事务注解功能-->
    <tx:annotation-driven transaction-manager="txManager"/>
    <!-- 扫描含注解的包 -->
    <context:component-scan base-package="com.drugbox.DAO"/>
    <context:component-scan base-package="com.drugbox.Service"/>
    <context:component-scan base-package="com.drugbox.Service.User"/>
</beans>